h1{
	text-align: center;
	font-style: bold;
	opacity: 0.8;}

h2{
	text-align: center;
	}

.jumbotron{
	background-color: transparent;
	max-height: 100%
	width: 100%;}

body{
	background-image: url(../img/cinegif.gif);
	background-size: cover;	
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	}

.button{
	align-items: center;
	}

.btn{
	background-color: #0000008c;
	opacity: 0.9;
	outline-color: black;
	width: 100%
	}
	